
body {
    background: url(imgs/back-loginCadastro.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: wheat;
    font-weight: bold;
}
.menu {
    font-size: 18px;
    line-height: 70px;
    text-align: right;
}
.menu a {
    color: white;
    padding: 20px;
    text-decoration: none;
}
.menu a:hover {
    padding-right: 30px;
    transition: 2s;
    text-decoration: underline solid black;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    
}
h2 {
    padding: 0 0 20px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-cadastro { /*se tornou o container-principal e os itens dentro se tornam os itens*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*centraliza elementos na horizontal */
    /*align-items: center; centraliza elementos na vertical */
    max-width: 300px;
    border-radius: 20px;
    background: rgba(22, 22, 22, 0.719);
    color: #fff;
    margin: 70px auto; /*deixa no centro*/
    padding: 30px 30px;

}
p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-top: 10px;
}
input {
    width: 100%;
    margin-bottom: 10px;  
}

.container-cadastro input[type="email"], input[type="text"], input[type="date"], 
input[type="number"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
            
}
.container-cadastro button[type='submit'], button[type="reset"] {
    border: none;
    outline: none; /*contorno */
    height: 30px; 
    width: 75%;
    background: rgba(50, 172, 253, 0.7);
    color: #fff;
    font-size: 15px;
    border-radius: 15px;
    text-align: center; 
    margin-top: 15px;
    margin-left: 15%;
}

.container-cadastro button[type="submit"]:hover, button[type="reset"]:hover {
    cursor: pointer;
    background: #ffc1079c;
    color:#000;
}
.campo_obrigatorio {
    margin-top: 20px;
}
